<header class="storesheader">
    <div class="storesnav">
      <h1>UBER <span class="logo">EATS</span></h1>
      <% if user_signed_in? %>
        <ul>
          <li><%= link_to "会員情報編集", edit_user_registration_path, class: 'btn signin' %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn login'%></li>
        </ul>
      <% elsif store_signed_in? %>
        <ul>
          <li><%= link_to "商品登録", new_store_product_path(current_store), class: 'btn signin'%></li>
          <li><%= link_to "店舗情報編集", edit_store_registration_path(@store), class: 'btn signin'%></li>
          <li><%= link_to "ログアウト", destroy_store_session_path, method: :delete, class: 'btn login'%></li>
        </ul>
      <% else %>
        <ul>
          <li><%= link_to "サインイン", new_user_session_path, class: 'btn signin' %></li>
          <li><%= link_to "新規登録", new_user_registration_path, class: 'btn login' %></li>
        </ul>
      <% end %>
    </div>
</header>
