<div class="wrapper">

  <header>
    <div id="nav">
      <div id="upper">
        <div class="navbtn">
          <h1>UBER <span class="logo">EATS</span></h1>
        </div>
        <div class="navbtn">
          <% if user_signed_in? %>
            <ul>
              <li><%= link_to "会員情報編集", edit_user_registration_path, class: 'btn signin' %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn login'%></li>
            </ul>
          <% elsif store_signed_in? %>
            <ul>
              <li><%= link_to "商品登録", new_store_product_path(current_store), class: 'btn signin'%></li>
              <li><%= link_to "店舗情報編集", edit_store_registration_path(@store), class: 'btn signin'%></li>
              <li><%= link_to "ログアウト", destroy_store_session_path, method: :delete, class: 'btn login'%></li>
            </ul>
          <% else %>
            <ul>
              <li><%= link_to "サインイン", new_user_session_path, class: 'btn signin' %></li>
              <li><%= link_to "新規登録", new_user_registration_path, class: 'btn login' %></li>
            </ul>
          <% end %>

          <% if current_cart.id.blank? %>
            <ul>
              <li><%= link_to new_cart_item_path, :method => :get do %><i class="fa fa-shopping-bag" aria-hidden="true"></i><% end %></li>
            </ul>
          <% else %>
            <ul>
              <li><%= link_to cart_path(current_cart), :method => :get do %><i class="fa fa-shopping-bag" aria-hidden="true"></i><% end %></li>
            </ul>
          <% end %>
        </div>
      </div>

      <div id="lower">
        <p>配達に対応するお近くのレストランを検索しましょう</p>
 <!--        <form>
          <input class="textarea" type="text" name="location" placeholder="配達先の住所を入力してください">
          <input class="submit" type="submit" value="検索">
        </form> -->
<%= form_tag search_tops_path, :method => 'get' do %>
<%= text_field_tag :search, params[:search], class: "textarea", placeholder: '配達先の住所を入力してください　(例：渋谷)' %>
<%= submit_tag "Search", :name => nil, class: "submit" %>
<% end %>

      </div>
    </div>
  </header>
  <!-- /header -->
  <main>
<!--
    <div id="slideshow">
        <img class="topSlides" src="/images/parla.jpg">
        <img class="topSlides" src="/images/grannysmith.jpg">
    </div>
    <script src="/javascripts/index.js" type="text/javascript" charset="utf-8" async defer></script> -->

    <div class="recommend">
      <div class="point">
        <img src="/images/uberpoint1.jpg" alt="Good selection" class="pointimg">
        <div class="sline"></div>
        <h3>豊富なラインアップ</h3>
        <p>100 を超える素敵なレストランのお料理を、UberEATS がお届けします。</p>
      </div>
      <div class="point">
        <img src="/images/uberpoint2.gif" alt="quick delivery">
        <div class="sline"></div>
        <h3>早い配達時間</h3>
        <p>UberEATSでは、人気レストランのお料理をお届けします。注文から到着までの所要時間は平均して 35 分ほどです。</p>
      </div>
      <div class="point">
        <img src="/images/uberpoint3.png" alt="favorite service">
        <div class="sline"></div>
        <h3>お気に入りのサービス</h3>
        <p>ご注文時に、お料理の価格と配達料金を含む合計金額が表示されます。Uberアカウントのお支払い情報を利用でき、アプリで配達状況を確認することもできます。</p>
      </div>
    </div>

    <div class="parallax"></div>

    <div class="ubereats-app">
      <div class="app">
        <div class="app-list left">
          <div class="app-text">
            <h3>お腹が空いたらタップして食事を楽しむだけ</h3>
            <p>UberEATS アプリがあれば、タップするだけでお気に入りの料理をいつでもお届け</p>
          </div>

          <div class="app-dl">
            <p>アプリをダウンロード</p>
            <ul>
              <li>
                <a href="#">
                <img src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats/static/images/components/app-badge-app-store/Download_on_the_App_Store_Badge_JP_135x40-d555c481aa.svg" alt="App Store からダウンロード" width="172" height="51" border="0">
                </a>
              </li>
              <li>
                <a href="#">
                <img src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats/static/images/components/app-badge-google-play/ja_badge_web_generic-2b615c8a6e.png" alt="Google Play からダウンロード" width="171" height="51" border="0">
                </a>
                </li>
            </ul>
          </div>
        </div>

        <div class="app-list right">
          <div class="mobile-image">
           <img src="/images/mobilescreen.png" alt="ubereats image" class="mobileimg2 mySlides">
           <img src="/images/mobilescreen1.png" alt="ubereats image" class="mobileimg2 mySlides">
          </div>
        </div>
      </div>
    </div>

  </main>
  <!-- /main -->

  <%= render 'footer'%>
  <!-- /footer -->
</div>
