<%= render 'header' %>
<!-- /header -->

<main class="searchmain">
  <div class="results">
    <h5>Tokyo のレストラン</h5>
    <div class="result">
      <% @stores.each do |store| %>
        <div class="store">
          <%= link_to store_storetops_path(store.id) do %>
            <%= image_tag(store.image, class: 'resultimg') %>
            <div class="resulttext">
              <h3><%= store.name %><%= store.en_name %></h3>
              <p class="genre">・<%= store.genre %></p>
              <p><%= store.mindelitime %> - <%= store.maxdelitime %>Min</p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</main>
<!-- /main -->

<%= render 'footer' %>
<!-- /footer -->
