<div class="showcart">

<!--     <div class="up">
      <div class="img" style="background-image: url('<%= product.image.url %>')"></div>
    </div> -->

    <div class="up">
      <h4><%= product.name %></h4>
      <%= form_for cart_item, remote: true do |f| %>


<!--       <div class="cost">
        <p>Unit Price:</p>
        <p class="price">¥<%= cart_item.unit_price %></p>
      </div> -->
      <div class="cost">
        <p><%= f.number_field :quantity, value: cart_item.quantity.to_i, class: "form-control", min: 1 %></p>
        <p><%= f.submit "数量を変更する", class: "btn btn-primary" %></p>

        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.hidden_field :store_id, value: product.store_id %>
      </div>

      <div class="cost">
        <p>Subtotal Price: </p>
        <p class="price">¥<%= cart_item.total_price %></p>
      </div>
      <% end %>
    </div>

    <div class="row">
      <label for="trigger"><%= link_to "✖", cart_item, { data: { confirm: "Are you sure you wish to delete the product '#{cart_item.product.name}' from your cart?" }, method: :delete, class: "delete" } %></label>
    </div>

</div>
