<%= render 'tops/header'%>
<!-- /header -->

<main>
<%# <% @stores.each do |store| %>
  <div class="shop-top" style="background-image: url('<%= @store.image %>')">
    <div class="shop-into">
      <div class="shop-text">
        <p class="shop-name"><%= @store.name %><br/>PARLA Gaienmae</p>
        <div class="shop-type">
          <ul>
            <li><%= @store.genre %></li>
          </ul>
        </div>
        <p class="open"><span><%= @store.mindelitime %> - <%= @store.maxdelitime %> min</span></p>
      </div>
    </div>
  </div>
<%# <% end %>

  <div id="contents">
    <div id="sidebar">
      <div class="shopinfo">
        <h4><%= @store.name %> のメニュー</h4>
        <p><i class="fa fa-clock-o" aria-hidden="true"></i> <%= @store.opentime.to_formatted_s(:without_second) %> - <%= @store.closetime %></p>
        <p>メイン Main</p>
      </div>
    </div>

    <div id="menus">
      <div class="cate">メイン Main</div>
      <% @products.each do |product| %>

        <div class="menu">
        <%= link_to product_path(product.id) do %>

          <div class="item">
              <div class="itemtext">
                <h5><%= product.name %></h5>
                <p><span><%= product.detail %></span></p>
                <p>¥<%= product.price %></p>
              </div>
              <div class="img" style="background-image: url('<%= product.image %>')"></div>
          </div>
        <% end %>
        </div>

      <% end %>
      </div>
    </div>
</main>
<!-- /main -->

<%= render 'tops/footer'%>
<!-- /footer -->
