<%= render 'tops/header' %>
<!-- /header -->

<div id="menu">
    <div class="item">
      <div class="img" style="background-image: url('<%= @product.image.url %>')"></div>

      <div class="itemtext">
        <h5><%= @product.name %></h5>
        <p><span><%= @product.detail %><span></p>
        <!-- <p>¥<%= @product.price %></p> -->

<!-- 変更前 -->
        <%#= form_for @item, url: add_item_path, method: :post do |f| %>
          <%#= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
          <%#= f.hidden_field :product_id, value: @product.id %>
          <%#= f.submit "カートに入れる", class: "submit" %>
        <%# end %>
<!-- 変更後 -->
      <%#= form_for @item, url: add_item_path, method: :post do |f| %>

      <%= form_for @item do |f| %>
      <h4 class="text-right">Unit Price: <span style="color: green">
      <%= f.hidden_field :unit_price, value: @product.price %>¥<%= @product.price %></span></h4>
        <div class="input-group">
          <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
          <div class="input-group-btn">
            <%= f.hidden_field :product_id, value: @product.id %>
            <%= f.hidden_field :store_id, value: @product.store_id %>
            <%= f.submit "Add to Cart", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>


    </div>
  </div>
</div>

<%= render 'tops/footer'%>
<!-- /footer -->
